<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-geolocation-raw" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-geolocation-raw</name>

    <js-module name="cordova-plugin-geolocation-raw" src="www/cordova-plugin-location-raw.js">
        <clobbers target="RawLocation" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RawLocation">
                <param name="android-package" value="io.hankers.plugin.RawLocation"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <!-- Plugin souce code -->
        <source-file src="src/android/RawLocation.java" target-dir="src/io/hankers/plugin" />

    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="RawLocation">
                <param name="ios-package" value="CDVRawLocation"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <preference name="LOCATION_ALWAYS_USAGE_DESCRIPTION" default="请选择'始终允许'以保证应用的正常运行" />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$LOCATION_ALWAYS_USAGE_DESCRIPTION</string>
        </config-file>
        <preference name="LOCATION_WHEN_IN_USAGE_DESCRIPTION" default="请选择'始终允许'以保证应用的正常运行" />
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$LOCATION_WHEN_IN_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
          <dict>
              <key>NSAllowsArbitraryLoads</key>
              <true/>
          </dict>
        </config-file>

        <!-- Plugin source code -->
        <header-file src="src/ios/CDVRawLocation.h" />
        <source-file src="src/ios/CDVRawLocation.m" />

        <framework src="CoreLocation.framework" />

    </platform>
</plugin>
